[submodule "etc/system-contracts"]
	path = etc/system-contracts
	url = https://github.com/TranchingProtocol/system-contracts.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/TranchingProtocol/contracts.git
